# CMPSC 448: Homewrok #1
# Exploratory Data Analysis with `pandas`

## Objectives

In this assignment, you are asked to analyze the UCI Adult data set containing demographic information about the US residents. This data was extracted from the census bureau database found at

http://www.census.gov/ftp/pub/DES/www/welcome.html

The features of data with possible values of each feature are listed below:

| Feature Name| Possible Values  |
|------|------|
| age | continuous|
| workclass| Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked|
| fnlwgt| continuous|
| education | Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool|
|education_num | continuous|
|marital_status | Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse|
|occupation | Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces|
|relationship | Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried |
|race | White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black|
|sex | Female, Male|
|capital_gain| continuous|
|capital_loss | continuous|
|hours-per-week | continuous |
|native-country | United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands |
|salary | >50K,<=50K |


Please  complete the tasks in the Jupyter notebook by answering following 8 questions.

In [4]:
import numpy as np
import pandas as pd
pd.set_option('display.max.columns', 100)
# to draw pictures in jupyter notebook
%matplotlib inline 
import matplotlib.pyplot as plt
import seaborn as sns
# we don't like warnings
# you can comment the following 2 lines if you'd like to
import warnings
warnings.filterwarnings('ignore')

In [5]:
data = pd.read_csv('adult.data.csv')
print("\n".join(data.columns))

age
 workclass
 fnlwgt
 education
 education-num
 marital-status
 occupation
 relationship
 race
 sex
 capital-gain
 capital-loss
 hours-per-week
 native-country
 salary

In [6]:
data.shape

(32561, 15)

In [7]:
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

### 1. How many men and women (sex feature) are represented in this dataset?

In [78]:
men_women_num = data[' sex'].value_counts()
print("Number of men and women")
print(men_women_num)

Number of men and women
 Male      21790
 Female    10771
Name:  sex, dtype: int64

### 2. What is the average age (age feature) of women?

In [76]:
women_avg = data.loc[data[' sex'] == ' Female', 'age'].mean()
print("Average of women")
print(women_avg)

Average of women
36.85823043357163

### 3. What is the percentage of German citizens (native-country feature)?

In [74]:
total = data[' native-country'].count()
german_cit = data.loc[data[' native-country'] == ' Germany', ' native-country'].count()
print("Percentage of German citizens")
print((german_cit/total)*100)

Percentage of German citizens
0.42074874850281013

###  4. What are the mean and standard deviation of age for those who earn more than 50K per year (salary feature) and those who earn less than 50K per year?

In [73]:
greater = data.loc[data[' salary'] == ' >50K', 'age']
lesser = data.loc[data[' salary'] == ' <=50K', 'age']
print("For people who earn more than 50K per year")
print("mean ", greater.mean())
print("standard deviation ", greater.std())
print("------------------------------------------")
print("For people who earn less than 50K per year")
print("mean ", lesser.mean())
print("standard deviation ", lesser.std())

For people who earn more than 50K per year
mean  44.24984058155847
standard deviation  10.519027719851826
------------------------------------------
For people who earn less than 50K per year
mean  36.78373786407767
standard deviation  14.02008849082488

### 5. Is it true that people who earn more than 50K have at least high school education? (education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters or Doctorate feature)

In [230]:
qualification = [' Bachelors']
sal = data.loc[data[' salary'] == ' >50K']
edu_bool = sal[' education'].isin([' Bachelors', ' Prof-school', ' Assoc-acdm', ' Assoc-voc', ' Masters', ' Doctorate']).all()
print(edu_bool)

False

### 6.  Display age statistics for each race (race feature) and each gender (sex feature).

Hint: Use `groupby()` and `describe()` functions of DataFrame. Find the maximum age of men of Amer-Indian-Eskimo race.

In [172]:
race_stat = data.groupby([' race', ' sex']).describe()
print('Age statistics for each race and each gender')
print(race_stat['age'])

Age statistics for each race and each gender
                               count       mean        std   min   25%   50%  \
 race                sex
 Amer-Indian-Eskimo  Female    119.0  37.117647  13.114991  17.0  27.0  36.0
                     Male      192.0  37.208333  12.049563  17.0  28.0  35.0
 Asian-Pac-Islander  Female    346.0  35.089595  12.300845  17.0  25.0  33.0
                     Male      693.0  39.073593  12.883944  18.0  29.0  37.0
 Black               Female   1555.0  37.854019  12.637197  17.0  28.0  37.0
                     Male     1569.0  37.682600  12.882612  17.0  27.0  36.0
 Other               Female    109.0  31.678899  11.631599  17.0  23.0  29.0
                     Male      162.0  34.654321  11.355531  17.0  26.0  32.0
 White               Female   8642.0  36.811618  14.329093  17.0  25.0  35.0
                     Male    19174.0  39.652498  13.436029  17.0  29.0  38.0

                               75%   max
 race                sex
 Amer-Indian-Eskimo  Female  46.00  80.0
                     Male    45.00  82.0
 Asian-Pac-Islander  Female  43.75  75.0
                     Male    46.00  90.0
 Black               Female  46.00  90.0
                     Male    46.00  90.0
 Other               Female  39.00  74.0
                     Male    42.00  77.0
 White               Female  46.00  90.0
                     Male    49.00  90.0

### 7. What is the maximum number of hours a person works per week (hours-per-week feature)? How many people work such a number of hours, and what is the percentage of those who earn a lot (>50K) among them?

In [146]:
max_hours = data[' hours-per-week'].max()
print('Maximum number of hours a person works per week')
print(max_hours)

max_hours_people = data.loc[data[' hours-per-week'] == max_hours, ' hours-per-week'].count()
print("Number of people work such a number of hours")
print(max_hours_people)

max_hours_sal = data.loc[(data[' hours-per-week'] == max_hours) & (data[' salary'] == ' >50K'), ' hours-per-week'].count()
print('Percentage of those who earn a lot (>50K) among them')
print((max_hours_sal/max_hours_people)*100)

Maximum number of hours a person works per week
99
Number of people work such a number of hours
85
Percentage of those who earn a lot (>50K) among them
29.411764705882355

### 8. Count the average time of work (hours-per-week) for those who earn a little and a lot (salary) for each country (native-country). What will these be for Japan?

In [225]:
grp = data.groupby([' native-country', ' salary'])
res = grp.describe()[' hours-per-week']
print('Average time of work for those who earn a little and a lot for each country')
print(res['mean'])
print('---------------------------------------------------------')
print('Average time of work for those who earn a little and a lot in Japan')
print(res.loc[' Japan', 'mean'])

Average time of work for those who earn a little and a lot for each country
 native-country   salary
 ?                <=50K     40.164760
                  >50K      45.547945
 Cambodia         <=50K     41.416667
                  >50K      40.000000
 Canada           <=50K     37.914634
                              ...
 United-States    >50K      45.505369
 Vietnam          <=50K     37.193548
                  >50K      39.200000
 Yugoslavia       <=50K     41.600000
                  >50K      49.500000
Name: mean, Length: 82, dtype: float64
---------------------------------------------------------
Average time of work for those who earn a little and a lot in Japan
 salary
 <=50K    41.000000
 >50K     47.958333
Name: mean, dtype: float64